header {
  text-align: center;
  margin-bottom: 3.375em;
  h1 {
    font-size: 1.5em;
  }
}

section.content {
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
    margin-bottom: 3.375em;
  }

  p {
    @include media($medium-screen) {
      margin-bottom: 3.375em;
    }
  }

}

