<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    PERFORMING A STATE
  </div>
    <ul>
      <li><a href="javascript:void(0)">&copy 2016 Ghent University</a></li>
      <li><i class="fa fa-envelope"></i><a href="mailto:nida.alahmad@ugent.be">nida.alahmad@ugent.be</a></li>
    </ul>
</footer>
