<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">PERFORMING A <span class="action">STATE</span></a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav id="nav" role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about.html">ABOUT</a></li>
        <li class="nav-link"><a href="/publications.html">PUBLICATIONS</a></li>
        <li class="nav-link"><a href="/people.html">PEOPLE</a></li>
        <li class="nav-link"><a href="/blog.html">BLOG</a></li>
        <li class="nav-link"><a href="/news.html">NEWS</a></li>
        <li class="nav-link"><a href="/contact.html">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
<script>
(function( $ ) {
    $.fn.activeNavigation = function(selector) {
        var pathname = window.location.pathname
        var extension_position;
        var href;
        var hrefs = []
        $(selector).find("a").each(function(){
            // Remove href file extension
            extension_position = $(this).attr("href").lastIndexOf('.');
            href = (extension_position >= 0) ? $(this).attr("href").substr(0, extension_position) : $(this).attr("href");

            if (pathname.indexOf(href) > -1) {
                hrefs.push($(this));
            }
        })
        if (hrefs.length) {
            hrefs.sort(function(a,b){
                return b.attr("href").length - a.attr("href").length
            })
            hrefs[0].closest('li').addClass("active")
        }
    };
})(jQuery);
$(document).activeNavigation("#nav")
</script>
