---
title: About
---

<header>
  <h1>About</h1>
</header>
<section class="content">
  <p><em>Performing a State: Statebuilding in Iraq (2003-2006)</em>, is a postdoctoral research project that examines the interconnection of knowledge and practice when statebuilding, a set of practices and ideas with roots in policy and academia, is translated into concrete projects. Underpinning this project is the argument that how we understand the state is just as important a question as how the state is crafted in particular periods of time. This project asks how is the state (as an object of intervention) conceived, identified, quantified and acted upon in the production of knowledge about intervention and during the intervention itself? How does the act of intervention and the knowledge that informs it become part of the reality such intervention seeks to amend? In answering this set of questions I hope to contribute to a deeper theoretical understanding of the political agency of the “state” and the nature of its relation with the knowledge and expertise that are produced about it and that aim to mould it.</p>
  <p>
  The research for this project is carried out by <a href="people.html" class="underline">Dr. Nida Alahmad</a> under the mentorship of <a href="people.html" class="underline">Prof. Christopher Parker</a> with funding received from the European Union’s Horizon 2020 research and innovation programme under the Marie Sklodowska-Curie grant agreement No 658988 PS-IRAQ. The project is hosted by the <a href="http://www.menarg.ugent.be" class="underline">Middle East and North Africa Research Group</a> (MENARG) at the <a href="http://www.ugent.be/ps/conflict-ontwikkeling/en" class="underline">Department of Conflict and Development Studies</a>, Ghent University.</p>

</section>
