---
title: About
---

<header>
  <h1>About</h1>
</header>
<section class="content">
  <p>
Performing a State: State-building in Iraq (2003-2006), is a postdoctoral research project that examines the interconnection of knowledge and practice when statebuilding, a set of practices and ideas with roots in policy and academia, is translated into concrete projects. This project asks how is the state (as an object of intervention) conceived, identified, quantified and acted upon in the production of knowledge about intervention and during the intervention itself? How does the act of intervention and the knowledge that informs it become part of the reality such intervention seeks to amend? In answering this set of questions I hope to contribute to a deeper theoretical understanding of the political agency of the “state” and the nature of its relation with the knowledge and expertise that are produced about it and that aim to mould it.
  </p>
  <p>
  The Iraqi state was the focus of a major American engineering project that failed, leading to a civil war in 2005. The US occupied Iraq in May 2003 aiming to radically reshape the country into a liberal democracy. This was to be done mainly through re-engineering state institutions and re-defining their functions in a process that is often designated as “state-building.” In August 2003 an insurgency irrupted and spread across the country. Shortly after the transfer of sovereignty from the Coalition Provisional Authority to an Iraqi interim government in June 2004, Iraq witnessed the first civil war since its establishment in 1920. Many state-building experts declared post-occupation Iraq a fragile or failed state.  “State-building” in Iraq (2003-2006) is at the centre of this project’s inquiry.
  </p>
  <p>
  This project studies the relationship between knowledge production and political engineering in one of modern history’s most ambitious state-building projects. It examines the ways in which state theories, state-building literature and state-building practices in occupied and transitional Iraq (2003-06) informed and influenced each other as various state-building actors articulated them. The US intervention in Iraq highlights the critical agency and impact that academic models and theories have in the configuration of political realities. Thus, this project aims to carefully analyse the ways in which scientific knowledge claims about the state acted as a constituent element of political agency. Leading state building experts and practitioners agree that theories of state and state formation inform the ways in which state-building is conceptualized. This process of gives the theories, models and abstractions a performative role in producing the very subjects that they try to capture and act upon.
  </p>
  <p>
The research is carried out by Dr. Nida Alahmad under the mentorship of Prof. Christopher Parker with funding received from the European Union’s Horizon 2020 research and innovation programme under the Marie Sklodowska-Curie grant agreement No 658988 PS-IRAQ. [add hyper link to “people” section under our names]. The project is hosted by the Middle East and North Africa Research Group (MENARG) [add hyperlink: http://www.menarg.ugent.be] at the Department of Conflict and Development Studies [add hyperlink: http://www.ugent.be/ps/conflict-ontwikkeling/en] , Ghent University. 
  </p>
</section>
<aside>
  <%= image_tag "building.jpg" %>
</aside>
