---
title: Blog
description: "This is the blog page for the Performing a State project"
---

<header>
  <h1>Blog</h1>
</header>
<section class="blog">
  <% blog.articles[0...5].each do |article| %>
  <article class="item">
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <p class="date">15 May 2016</p>
    <div class="line">&nbsp;</div>
  </article>
  <% end >
</section>
