---
title: Blog
description: "This is the blog page for the Performing a State project"
---

<header>
  <h1>Blog</h1>
</header>
<section class="blog">
  <article class="item">
    <h2><a href="">The Do List</a></h2>
    <p class="date">15 May 2016</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="">How Do I Learn?</a></h2>
    <p class="date">15 May 2016</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="article.html">Strive For The Uncomfortable</a></h2>
    <p class="date">15 May 2016</p>
    <div class="line">&nbsp;</div>
  </article>
</section>
