---
title: Contact
---

<header>
  <h1>Contact</h1>
</header>
<section class="data">
<h2>Email</h2>
<p><i class="fa fa-envelope"></i><a href="mailto:nida.alahmad@ugent.be">nida.alahmad@ugent.be</a></p>
</section>
<section class="data">
<h2>Mail</h2>
<p>
Dr. Nida Alahmad<br>
Ghent University<br>
Department of Conflict and Development Studies<br>
Universiteitstraat 8<br>
9000 Gent<br>
Belgium
</p>
</section>


