---
title: Doing the State a Lecture Series at the Department of Conflict and Development, Ghent University. 
---

<article class="article">
  <header class="title">
    <h1>"Doing the State" a Lecture Series at the Department of Conflict and Development</h1>
  </header>
  <footer class="date">
      <p>Location: Ghent University</p> 
  </footer>
  <div class="line">&nbsp;</div>
  <div class="body">
    <p>Lectures on ‘Doing the state’ organised by the Department of Conflict and Development are part of the Ma(nama) course Debates in Conflict and Development:</p>
    <ul>
      <li>16 Nov: Rachel Ibreck on chiefly authority in South Sudan</li>
      <li>23 Nov: Steven Schoofs on MILF governance in Mindanao</li>
      <li>30 Nov: Marielle Debos on governing the inter-war in Chad</li>
      <li>7 Dec: Christian Lund on rules and rupture - state formation through the production of property and citizenship</li>
      <li>14 Dec: Nida Alahmad on doing, seeing and maintaining the state in Iraq</li>
    </ul>
    <p>Lectures start at 2.30 pm and are followed by a seminar, which is organised by the master students.</p>
    <p>For more information, please contact the <a class="underline" href="http://www.ugent.be/ps/conflict-ontwikkeling/en">Department of Conflict and Development Studies</a></p>
  </div>


</article>
