---
title: news article
---

<article class="article">
  <header class="title">
    <h1>Electrifying Middle East and North African Studies</h1>
  </header>
  <footer class="date">
    <time datetime="">31 May 2016</time>
  </footer>
  <div class="line">&nbsp;</div>
  <div class="body">
    <p>will be joining a panel of academics in a roundtable discussion about the study of electricity and electrification in Middle Eastern and North African studies. The meeting will take place in Boston this November as part of the <a href="http://mesana.org" class="underline">Middle East Studies Association's</a> annual meeting. This is a <a href="https://mesana.org/mymesa/meeting_program_session.php?sid=3df4e434a250ddfe994f27ecac1e3035" class="underline">description of the panel</a></p>
    <p>"How do we understand the effects of electricity generation, transmission, and consumption in the modern and contemporary Middle East and North Africa? The last few years have featured an explosion of academic interest in this question as it relates to the politics, economics, social relations, and cultural production of various communities and states in the MENA region. However, specific studies on these topics have unfolded in isolation from one another due to the recentness of this line of inquiry in MENA studies.</p>
    <p>This roundtable thus adopts a historical and cross-disciplinary perspective to showcase the multiple, dynamic, and complex ways in which the material and discursive underpinnings of electricity are central to everyday life in the region. It aims to also connect electricity to larger questions of political authority, economic development, social mobilization, and cultural production. Each presentation highlights the varied ways in which electricity sectors and infrastructure are important nodal points for state and society. They do so through an eclectic array of disciplines, methodologies, theoretical frameworks, and case studies. Presenters will share their recent work on a variety of sociopolitical developments related to electricity in different states across the Middle Eastern and North Africa during the 20th and 21st centuries: the Gulf Cooperation Council (GCC) members; Iraq; Lebanon; Morocco; the Ottoman Empire; and Palestine-Israel. By putting this work into conversation, this roundtable seeks to initiate an ongoing dialogue among MENA scholars working on electricity, as well as between these scholars and others that work on technology, infrastructure, and natural resources in the region."</p>
  </div>
</article>
