---
title: "Public Lecture and Seminar: Evidences and Futures."
description: "Seminar is open to all students and postdoctoral fellows. Registration is required by May 10, 2017"
---

<article class="article">
  <header class="title">
    <h1>Public Lecture &amp; Seminar: Evidences and Futures</h1>
    <h2>Prof. Richard Rottenburg</h2>
    <p>Organized and co-hosted by: Dr. Nida Alahmad and Prof. Dr. Christopher Parker<br>
    Co-hosted with Ghent Centre for Global Studies</p>
  </header>
  <footer class="date">
      <time datetime="2017-15-05">May 15 2017</time>
      <p>Location: Ghent University</p> 
  </footer>
  <div class="line">&nbsp;</div>
  <div class="body">
    <h2>Public Lecture</h2>
    <p>Prof. Rottenburg’s talk will focus on the production and disputation of facts in knowledge infrastructures. He suggests that the way matters of fact are made, confirmed, certified, contested or rejected, is unavoidably related to imaginaries, moral worlds and the kinds of accountabilities important for the making and retaining of a tolerable level of security and certainty in human affairs. Five questions will be debated: How far can future oriented policy decisions be evidence based? How can modes of evidence making deal with multiple and contradicting ontologies? In what way are standards of accountability dependent on evidence making? In what way is evidence making intertwined with precaution, thoughtfulness, concern and care? What are the conditions of possibility to “speak truth to power”?</p>
    <h2>Seminar</h2>
    <ul>
      <li><strong>Registration</strong>: Seminar is open to all students and postdoctoral fellows. Registration is required by May 10, 2017. Contact: <a href="mailto:nida.alahmad@ugent.be">nida.alahmad@ugent.be</a></li>
          <li><strong>Reading material</strong>: Seminar participants will be expected to read chapters 1,(3 OR 4) ,6 of Prof. Rottenburg’s book Far-Fetched Facts: A Parable of Development and two short articles addressing the book that will be sent directly to registered participants. It is, of course, preferable that participants read the whole book.</li>
    </ul>
    <h2>Time and Location</h2>
    <p>Monday May 15 2017</p>
    <ul>
      <li>13:00 - 14:30 Public lecture (ca. 45 minutes) followed by Q&A. (to be confirmed: Facultaire Raadzaal Rechten, Campus Emiel Braunschool OR Film Plateau)</li>
      <li>15:00 - 17:00 Seminar with students. (Vergaderzaal John Vincke, Korte Meer 5)</li>
    </ul>
    <h2>Bio</h2>
    <p>Richard Rottenburg holds a chair in anthropology at the University of Halle, where he heads a research group focusing on the anthropology of "Law, Organization, Science and Technology" (LOST). Inspired by social studies of science and technology and renditions of pragmatist social theory, the emergence of material-semantic orderings and their institutionalizations are at the heart of his current work. These inquiries foreground evidentiary practices (experiments, tests, measurements) and multilayered infrastructures, which solidify and circulate evidence, and ask how they are mobilized to design and critique specific futures.</p>
  </div>


</article>
