---
title: "ExpoScience 2017"
description: "ExpoScience 2017 at Tour &amp; Taxi, Brussels (Belgium)"
---

<article class="article">
  <header class="title">
    <h1>ExpoScience 2017</h1>
  </header>
  <div class="line">&nbsp;</div>
  <div class="body">
    <p>The MSCA team jointly with several MSCA fellows, will participate in the
    ExpoScience 2017 at Tour &amp; Taxi, Brussels (Belgium). </p>
    <p>For more information visit:
    <a
       class="underline" href="https://ec.europa.eu/programmes/horizon2020/en/news/exposcience-2017">https://ec.europa.eu/programmes/horizon2020/en/news/exposcience-2017</a></p>
  </div>


</article>
