---
description: "How we understand the state is just as important a question as how the state is crafted in particular periods of time"
---

<section class="hero">
  <p>How we understand the state is just as important a question as how the state is crafted in particular periods of time</p>
  <form action="about.html" method="get">
  <button>More Info</button>
  </form>
</section><!-- hero -->
<section class="newsfeed">
  <h2><a href="/news.html">News</a></h2>
  <div class="line">&nbsp;</div>
  <p><a href="/recently_published.html">Recently published (summer 2017)!</a></p>
  <span class="date">17 August, 2017</span>
  <p><a href="/msca_fellow_of_the_week.html">MSCA fellow of the week</a></p>
  <span class="date">5 May, 2017</span>
  <p><a href="/exposcience2017.html">ExpoScience 2017</a></p>
  <span class="date">28 April, 2017</span>
 <p class="more"><a class="underline"  href="/news.html">More news &hellip;</a></p>
</section><!-- news -->
<div class="row">
<section class="publications">
  <h2><a href="/publications.html">Publications</a></h2>
  <div class="line">&nbsp;</div>
 <p>Nida Alahmad, "Illuminating a State: Statebuilding and Electricity in Occupied Iraq," Humanity Journal 8, no. 1 (2017).</p>
 <p class="more"><a class="underline"  href="/publications.html">More publications &hellip;</a></p>
</section><!-- publications -->
<section class="blogfeed">
  <h2><a href="/blog.html">Blog</a></h2>
  <div class="line">&nbsp;</div>
  <% blog.articles[0..3].each do |article| %>
    <p><a href="<%= article.url %>"><%= article.title %></a><br><span class="date"><time><%= article.date.strftime('%b %e %Y') %></time></p>
  <% end %>
 <p class="more"><a class="underline"  href="/blog.html">More blog posts &hellip;</a></p>
</section>
</div><!-- row -->

