---
title: Methods and Ethics of Fieldwork Seminar Series
---

<article class="article">
  <header class="title">
    <h1>Methods and Ethics of Fieldwork Seminar Series</h1>
  </header>
  <footer class="date">
    <time datetime="2016-29-11">29 November 2016</time>
  </footer>
  <div class="line">&nbsp;</div>
  <div class="body">
    <p>On November 29 I will be sharing some aspects of my research at the Department of Conflict and Development Studies seminar on <a href="http://www.ugent.be/ps/conflict-ontwikkeling/nl" class="underline">methods and ethics of fieldwork</a>
    The time, location and abstract for my presentation, "Blurring the lines between method, theory, and ethics in studying the state" can be found <a href="http://www.ugent.be/ps/conflict-ontwikkeling/nl/actueel/agenda/methodsandethicsalahmadhere" class="underline">here</a></p>
  </div>
</article>
