---
title: "MSCA fellow of the week"
description: "I am featured this week by MSCActions as the fellow of the week"
---

<article class="article">
  <header class="title">
    <h1>MSCA fellow of the week</h1>
  </header>
  <div class="line">&nbsp;</div>
  <div class="body">
    <p>"I am featured this week by MSCActions as the fellow of the week. Visit the link to learn more:</p>
    <p><a class="underline" href="https://twitter.com/MSCActions/status/860433896575574018">https://twitter.com/MSCActions/status/860433896575574018</a></p>
  </div>


</article>
