---
title: News
description: "News page for the Performing a State project"
---

<header>
  <h1>News</h1>
</header>
<section class="news">
  <article class="item">
    <h2><a href="electrifying-middle-east-and-north-african-studies.html">Electrifying Middle East and North African Studies</a></h2>
    <p class="date">30th May 2016</p>
    <div class="line">&nbsp;</div>
  </article>
</section>
