---
title: News
description: "News page for the Performing a State research project"
---

<header>
  <h1>News</h1>
</header>
<section class="news">
  <article class="item">
    <h2><a href="methods-and-ethics-of-fieldwork-seminar.html">Methods and Ethics of Fieldwork Seminar Series</a></h2>
    <p class="date">29th November 2016</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="electrifying-middle-east-and-north-african-studies.html">Electrifying Middle East and North African Studies</a></h2>
    <p class="date">18 November 2016</p>
    <div class="line">&nbsp;</div>
  </article>
</section>
