---
title: News
description: "News page for the Performing a State research project"
---

<header>
  <h1>News</h1>
</header>
<section class="news">
  <article class="item">
    <h2><a href="/msca_fellow_of_the_week.html">MSCA fellow of the week</a></h2>
    <p class="date">May 5, 2017</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="/exposcience2017.html">ExpoScience 2017</a></h2>
    <p class="date">April 28, 2017</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="/evidences_and_futures.html">Public Lecture &amp; Seminar: Evidences and Futures</a></h2>
    <p class="date">May 15, 2017</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="http://www.normativeorders.net/de/component/content/article/69-veranstaltungen/4577-the-value-of-critique">The Value of Critique Symposium</a></h2>
    <p class="date">January 19-20, 2017</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="/doing_the_state.html">"Doing the State" a Lecture Series at the Department of Conflict and Development</a></h2>
    <p class="date">16 November 2016</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="methods-and-ethics-of-fieldwork-seminar.html">Methods and Ethics of Fieldwork Seminar Series</a></h2>
    <p class="date">29th November 2016</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="item">
    <h2><a href="electrifying-middle-east-and-north-african-studies.html">Electrifying Middle East and North African Studies</a></h2>
    <p class="date">18 November 2016</p>
    <div class="line">&nbsp;</div>
  </article>
</section>
