---
title: People
---
<header>
  <h1>People</h1>
</header>
<section class="nida">
  <%= image_tag "nida.jpg" %>
  <h2>Nida Alahmad</h2>
  <div class="line">&nbsp;</div>
  <p>For her master thesis she interviewed elderly about income and loneliness. She also obtained a master’s degree in health prevention and promotion. From October 2013 until September 2014, she has worked as a research assistant at the Research Group TOR of the Free University of Brussels.</p>
</section>
<section class="chris">
  <%= image_tag "nida.jpg" %>
  <h2>Nida Alahmad</h2>
  <div class="line">&nbsp;</div>
  <p>For her master thesis she interviewed elderly about income and loneliness. She also obtained a master’s degree in health prevention and promotion. From October 2013 until September 2014, she has worked as a research assistant at the Research Group TOR of the Free University of Brussels.</p>
</section>

