---
title: People
description: "The people involved for the Performing a State project are Nida Alahmad and Christopher Parker"
---
<header>
  <h1>People</h1>
</header>
<section class="nida">
  <%= image_tag "nida.jpg" %>
  <h2>Nida Alahmad</h2>
  <div class="line">&nbsp;</div>
  <p>
  Dr. Nida Alahmad is Marie Sklodowska-Curie fellow at the Department of Conflict and Development Studies, Ghent University (2016-2020). She received her PhD from the New School for Social Research. She was a postdoctoral fellow at Georgetown University and a visiting fellow and research associate at The European University Institute. She taught at New York University, the University of Toronto and the New School for Continuing Education. She also worked as a consultant with a number of NGO including the Committee to Protect Journalists and the International Center for Transitional Justice. She is the recipient of a number of honors and awards including fellowships from the United States Institute of Peace, The Mellon Research Fellowship in Security and Humanitarian Action and a number of New School awards and fellowship.</p>
</section>
<section class="chris">
  <%= image_tag "nida.jpg" %>
  <h2>Nida Alahmad</h2>
  <div class="line">&nbsp;</div>
  <p>For her master thesis she interviewed elderly about income and loneliness. She also obtained a master’s degree in health prevention and promotion. From October 2013 until September 2014, she has worked as a research assistant at the Research Group TOR of the Free University of Brussels.</p>
</section>

