---
title: People
description: "The people involved for the Performing a State project are Nida Alahmad and Christopher Parker"
---
<header>
  <h1>People</h1>
</header>
<section class="nida">
  <%= image_tag "nida-bw.jpg" %>
  <h2>Nida Alahmad</h2>
  <div class="line">&nbsp;</div>
  <p>
  Dr. Nida Alahmad is Marie Sklodowska-Curie fellow at the Department of Conflict and Development Studies, Ghent University (2016-2020). She received her PhD from the New School for Social Research. She was a postdoctoral fellow at Georgetown University and a visiting fellow and research associate at The European University Institute. She taught at New York University, the University of Toronto and the New School for Continuing Education. She also worked as a consultant with a number of NGO including the Committee to Protect Journalists and the International Center for Transitional Justice. She is the recipient of a number of honors and awards including fellowships from the United States Institute of Peace, The Mellon Research Fellowship in Security and Humanitarian Action and a number of New School awards and fellowship.</p>
  <p><a href="http://www.menarg.ugent.be/staff/nida-alahmad" class="underline">extended profile</a></p>
</section>
<section class="chris">
  <%= image_tag "christopher-parker-bw.jpg" %>
  <h2>Christopher Parker</h2>
  <div class="line">&nbsp;</div>
  <p>Prof. Christopher Parker is an Associate Professor of Political Studies, a senior fellow of the Ghent Center for Global Studies, and a research associate of the <a href="http://www.menarg.ugent.be">Middle East and North Africa Research Group</a> at Ghent University. He is co-director of the joint Free University of Brussels-Ghent University interdisciplinary bachelor in political science, sociology and communication studies. Parker received his master’s degree in comparative politics from the American University in Cairo, and his PhD from Ghent University. He has been an associate of the Institut français du Proche-Orient, a fellow of both The American Center for Oriental Research and the Council of American Overseas Research Centers, and was a visiting scholar at the Hagop Kavorkian Center for Near East Studies at New York University in 2005-2006. </p>
</section>

