---
title: Publications
description: "Publications for the Performing a State project"
---

<header>
  <h1>Publications</h1>
</header>
<section class="pub">
  <article class="year">
    <h2>2017</h2>
    <ul>
      <li>Nida Alahmad,  A Perspective from the Middle East: Governance and the Problem of Knowledge. Book chapter in Anna Triandafyllidou [ed.],  Global Governance From Regional Perspectives : A critical view, Oxford University Press, 2017</li>
      <li>Nida Alahmad, "Illuminating a State: Statebuilding and Electricity in Occupied Iraq," Humanity Journal 8, no. 2 (2017).</li>
    </ul>
    <div class="line">&nbsp;</div>
  </article>
  <article class="year">
    <h2>2015</h2>
    <ul>
    <li>Nida Alahmad, Book review: Williamson Murray and Kevin M. Woods 2014, “The Iran-Iraq War: a military and strategic history” Middle East Report 275, Summer 2015.</li>
    </ul>
    <div class="line">&nbsp;</div>
  </article>
  <article class="year">
    <h2>2013</h2>
    <ul>
    <li>Nida Alahmad, “Rewiring a State: The Techno-Politics of CPA’s Iraq,” Middle East Report, no. 266 (2013): 14-19;</li>
    </ul>
    <div class="line">&nbsp;</div>
  </article>
</section>
