---
title: Publications
description: "Publications for the Performing a State project"
---

<header>
  <h1>Publications</h1>
</header>
<section class="pub">
  <article class="year">
    <h2>Forthcoming</h2>
    <p>Nida Alahmad, "Illuminating a State: Statebuilding and Electricity in Occupied Iraq," Humanity Journal 8, no. 1 (2017).</p>
    <p>A Perspective from the Middle East: Governance and the problem of knowledge. Book chapter in Anna Triandafyllidou and Tatjana Evas [ed.], Global Governance from Regional and Cultural Perspectives: A Critical View. Book accepted, in February 2016, for publication with Oxford University Press, forthcoming 2017.</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="year">
    <h2>2015</h2>
    <p>Book review: Williamson Murray and Kevin M. Woods 2014, “The Iran-Iraq War: a military and strategic history” Middle East Report 275, Summer 2015.</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="year">
    <h2>2013</h2>
    <p>Nida Alahmad, “Rewiring a State: The Techno-Politics of CPA’s Iraq,” Middle East Report, no. 266 (2013): 14-19;</p>
    <div class="line">&nbsp;</div>
  </article>
</section>
