---
title: Publications
description: "Publications for the Performing a State project"
---

<header>
  <h1>Publications</h1>
</header>
<section class="pub">
  <article class="year">
    <h2>Forthcoming</h2>
    <p>Nida Alahmad, "Illuminating a State: Statebuilding and Electricity in Occupied Iraq," Humanity Journal 8, no. 1 (2017).</p>
    <div class="line">&nbsp;</div>
  </article>
  <article class="year">
    <h2>2013</h2>
    <p>Nida Alahmad, “Rewiring a State: The Techno-Politics of CPA’s Iraq,” Middle East Report, no. 266 (2013): 14-19;</p>
    <div class="line">&nbsp;</div>
  </article>
</section>
