---
title: "Recently published (summer 2017)!"
description: "I am very happy to share the publication of a book chapter with OUP on global governance from a critical perspective:"
---

<article class="article">
  <header class="title">
    <h1>Recently published (summer 2017)!</h1>
  </header>
  <div class="line">&nbsp;</div>
  <div class="body">
    <p>I am very happy to share the publication of a book chapter with <a class="underline" href="https://global.oup.com/academic/product/global-governance-from-regional-perspectives-9780198793342?cc=au&lang=en&#">OUP</a> on global governance from a critical perspective:</p>
    <p>A Perspective from the Middle East: Governance and the Problem of Knowledge. Book chapter in Anna Triandafyllidou [ed.],  Global Governance From Regional Perspectives : A critical view, Oxford University Press, 2017</p>
    <p>And an article on state-building under the American occupation of Iraq in <a class="underline" href="http://humanityjournal.org/issue8-2/illuminating-a-state-state-building-and-electricity-in-occupied-iraq/">Humanity Journal</a>:
    "Illuminating a State: Statebuilding and Electricity in Occupied Iraq," Humanity Journal 8, no. 2 (2017).</p>
  </div>


</article>
