---
title: "Thursday Public Lecture Series"
description: "This series runs in connection with the Doctoral School course Pragmatism for Social Scientists: Histories, Criticisms & Opportunities. "
---

<article class="article">
  <header class="title">
    <h1>Thursday Public Lecture Series (Spring 2018)</h1>
  </header>
  <div class="line">&nbsp;</div>
  <div class="body">
    <p>This series runs in connection with the Doctoral School course Pragmatism for Social Scientists: Histories, Criticisms & Opportunities. During this series, guest speakers who will be leading seminar sessions in the Pragmatism course will be giving public lectures on their own work and will engage with the audience in Q&A. The series is open to the public.</p>
    <p>For more information on the Doctoral School course, please visit: <a class="underline" href="https://www.ugent.be/doctoralschools/en/doctoraltraining/courses/specialistcourses/sbs/pragmatism-for-social-scientists.htm#Registrationandinformation">https://www.ugent.be/doctoralschools/en/doctoraltraining/courses/specialistcourses/sbs/pragmatism-for-social-scientists.htm#Registrationandinformation</a></p>
    <p>Contact: <a class="underline" href="mailto:nida.alahmad@ugent.be">nida.alahmad@ugent.be</a>; <a class="underline" href="mailto:steven.schoofs@ugent.be">steven.schoofs@ugent.be</a></p>
    <h2>Thursday, February 22 2018</h2>
    <h3>Dr. Brendan Hogan, New York University<br>
     "Critique and Reconstruction: Pragmatism, social science, and democracy".</h3>
    <p>3:00 PM – 4:30 PM; Faculty Council Room, Faculty of Law and Criminology, Volderstraat 3, Ghent.</p>
    <h4>Abstract</h4>
    <p>Pragmatism as a philosophical school has recently experienced an explosion of interest rivaling that which attended its earliest decades in the late 19th and early 20th centuries. The consequences of pragmatism for political theory and social science are continuing to be articulated, no less than with respect to traditional metaphysical, epistemological, and logical questions. In this initial lecture of our series, I will aim to provide some of the general features of the original 'pragmatic turn' in philosophical thinking and draw out several of these consequences for understanding the role of the social sciences and political theory. </p>
    <h4>Bio</h4>
    <p>Brendan Hogan (The New School for Social Research, PhD) is Clinical Associate Professor in the Global Liberal Studies Program at New York University. He specializes in pragmatic philosophy, philosophy of social science and political philosophy. In particular, his work explores questions about the normative status of democracy and the relationship between imagination, critique, and human agency. His latest publications focus on the late pragmatist philosopher Hilary Putnam and the critique of the forms of economic rationality at the basis of certain models of mainstream economics. His articles have been published in a variety of venues including The Journal of Speculative Philosophy and the Graduate Faculty Philosophy Journal. Since 2015 he has taught the history of political philosophy and a course on the critique of capitalism from a normative perspective for NYU at their campus in London.</p>
    <h2>Thursday, March 15 2018</h2>
    <h3>Prof. Roberto Frega, CNRS, Paris <br>
      "A Social Ontology of Democracy"
    </h3>
    <p>7:30 PM – 9:00 PM; Faculty Council Room, Faculty of Law and Criminology, Volderstraat 3, Ghent.</p>
    <h4>Abstract</h4>
    <p>This talk presents an account of the social foundations of a theory of democracy. It purports to show that a social ontology is the necessary counterpart of a political theory of democracy. This goal, I contend, can be achieved through a social theory whose main pillars are provided by the three notions of habits, patterns of interaction, and forms of social organization. In the talk I will examine these three notions from the standpoint of a variety of approaches that subscribe to interactionist views of social life.</p>
    <p>There are a couple of papers that are connected to this talk, for more information please contact <a class="underline" href="mailto:nida.alahmad@ugent.be">nida.alahmad@ugent.be</a>; or <a class="underline" href="steven.schoofs@ugent.be">steven.schoofs@ugent.be</a>
    </p>
    <h4>Bio</h4>
    <p>Roberto Frega holds a PhD in philosophy from the Université Paris 8. He is permanent researcher at the CNRS (French National Center for Scientific Research) in Paris. His areas of specialization are American philosophy and contemporary democratic theory. In the first field he has published two monographs on John Dewey’s philosophy (Pensée, experience, pratique. Essai sur la théorie du jugement de John Dewey, L’Harmattan, Paris, 2006; John Dewey et la philosophie comme épistémologie de la pratique, L’Harmattan, Paris, 2006). In the second field he has published a book on political epistemology (Voci della ragione, Quodlibet, Macerata, 2009), a book on social theories of normativity (Les sources sociales de la normativitè, Vrin 2013), a book on moral and political philosophy (Practice, Judgment, and the Challenged of Moral and Political Disagreement. A pragmatist Account, Lexington, Lanhan, Md. 2012). His articles have appeared in many highly reputed international journals such as The European Journal of Political Theory, Constellations, Critical Horizons, Social theory and Practice, Metaphilosophy, Thesis Eleven, The Southern Journal of Philosophy, The Review of International Studies. He is currently completing a book manuscript titled The Democratic Project.</p>
    <h2>Thursday, April 19 2018</h2>
    <h3>Dr. Simon Susen, City, University of London<br>
      "A Seductive Force of ‘Noumenal Power’: A New Path (or Impasse) for Critical Theory?"
    </h3>
    <p>12:30 PM – 2:00 PM; Meeting Room Dean John Vincke, Faculty of Political and Social Sciences - Korte Meer 5 (ground floor), Ghent</p>
    <h4>Abstract</h4>
    <p>The main purpose of this paper is to examine Rainer Forst’s account of ‘noumenal power’. Forst’s proposal for a revised ‘critical theory of power’ is firmly embedded in his philosophical understanding of ‘the right to justification’. Whereas the latter has been extensively discussed in the secondary literature, the former has – with the exception of various exchanges that have taken place between Forst and his critics at academic conferences – received little attention. This paper is an attempt to fill this gap in the literature. Given the increasing influence of Forst’s scholarly writings on paradigmatic developments in contemporary critical theory, it is imperative to scrutinize the key assumptions underlying his conception of ‘noumenal power’ and to assess its usefulness for overcoming the shortcomings of alternative explanatory frameworks. In order to accomplish this, the analysis is divided into four parts. The first part provides some introductory definitional reflections on the concept of power. The second part focuses on several dichotomous meanings attached to the concept of power – notably, ‘soft power’ vs. ‘hard power’, ‘power to’ vs. ‘power over’, and ‘power for’ vs. ‘power against’. The third part elucidates the principal features of Forst’s interpretation of ‘noumenal power’, in addition to drawing attention to his typological distinction between ‘power’, ‘rule’, ‘domination’, and ‘violence’. The final part offers an assessment of Forst’s account of ‘noumenal power’, arguing that, although it succeeds in avoiding the drawbacks of rival approaches, it suffers from significant limitations. The paper concludes by giving a synopsis of the vital insights that can be obtained from the preceding inquiry.</p>
    <p>See: <a class="underline" href="http://www.tandfonline.com/doi/full/10.1080/2158379X.2017.1362734">http://www.tandfonline.com/doi/full/10.1080/2158379X.2017.1362734</a>. </p>
    <p>There are a couple of papers that are connected to this talk, for more information please contact <a class="underline" href="mailto:nida.alahmad@ugent.be">nida.alahmad@ugent.be</a>; or <a class="underline" href="mailto:steven.schoofs@ugent.be">steven.schoofs@ugent.be</a></p>
    <h4>Bio</h4>
    <p>Simon Susen is Reader in Sociology at City, University of London. Before joining City in 2011, he held lectureships at Birkbeck, University of London (2010–2011), Newcastle University (2008–2010), and Goldsmiths, University of London (2007–2008). He received his PhD from the University of Cambridge in 2007. Prior to that, he studied sociology, politics, and philosophy at a range of international universities and research centres— including the University of Cambridge, the University of Edinburgh, the Colegio de México, the Facultad Latinoamericana de Ciencias Sociales in Mexico City, and the École des Hautes Études en Sciences Sociales in Paris. He is Associate Member of the Bauman Institute and, together with Bryan S. Turner, Editor of the Journal of Classical Sociology.</p>
    <h2>Thursday, June 14 2018</h2>
    <h3>Prof. Maeve Cooke, University College Dublin<br>
      "Non-Authoritarian Authority: A Critical Theory of Politics for our Times"
    </h3>
    <p>12:30 PM – 2:00 PM; Faculty Council Room, Faculty of Law and Criminology, Volderstraat 3, Ghent.</p>
    <h4>Abstract</h4>
    <p>What makes a political theory a critical theory of politics? What critical theory of politics responds best to the particular challenges of our times? Drawing on a conception of critical theory indebted to the Frankfurt School tradition of theorizing, but integrating new impulses from outside it, I identify the salient features of a critical theory of politics. Using this general account as a frame, I propose a particular theory designed to fit contemporary democracies in which there is a plurality of values and corresponding modes of behaviour and practices. Non-authoritarian authority is at the centre of my critical theory of politics, partly because it is a key factor, determining how we think of important concerns such as human well-being, ecological sustainability and global justice, and partly because of the current global upsurge in democratic support for authoritarian political regimes. Authoritarian forms of power undermine individual freedom because they impose ways of thinking and acting on their subjects, bypassing their rational agency. By contrast, non-authoritarian, yet authoritative forms of power foster individual freedom by offering their subjects ethical orientation in their endeavours to lead lives for which they can take rational responsibility. Underlying my argument is a conceptualization of the idea of individual human freedom as a maturational process involving interactions between human subjects in relation to the validity of their particular ethical values. Its full development is shown to require non-authoritarian, yet authoritative social institutions.</p>
    <h4>Bio</h4>
    <p>Maeve Cooke is Professor of Philosophy at University College Dublin, Ireland and a member of the Royal Irish Academy. Her current research interests centre on the relation between freedom and authority, with a specific focus on questions of democratic dissent and political violence. Her principal book publications are Language and Reason: A Study of Habermas’ Pragmatics (MIT Press, 1994) and Re-Presenting the Good Society (MIT Press, 2006). She is the author of many articles in the areas of social and political philosophy and has held visiting appointments at universities in the USA and Europe. She is on the editorial board of a number of scholarly journals.</p>

  </div>


</article>
